{% extends 'SiteBundle:Site:site.html.twig' %}

{% block body %}

    {% block top %}
        {% include 'SiteBundle:Site:include/top.html.twig' %}
    {% endblock %}
    <div class="container">

    </div>
{% endblock %}