{% extends 'SiteBundle:Site:site.html.twig' %}

{% block body %}
    <div class="container">
        <div style="margin: 100px auto; width: 600px;">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset('bundles/site/img/logo-big.png') }}">
                    <h1>Coming soon!</h1>
                    <p>Social bookmarking service for IT crowds will be released soon.</p>
                    <p>You can watch it's progress at my <a href="https://livecoding.tv/jakulov/">Livecoding.tv</a> stream.</p>
                    <p>
                        <iframe src="https://www.livecoding.tv/jakulov/embed" width="560" height="315" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
                    </p>
                    <hr>
                    Regards, <a href="https://github.com/jakulov" target="_blank">jakulov</a><br>
                    @ <a href="mailto:jakulov@gmail.com">jakulov@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}